{% extends 'base.html' %}
 {% block content %}

{% load static %}
<main>
    <section class="intro">
        <h1>Привет, меня зовут Фирас!</h1>
        <p>Я занимаюсь вышивкой и предлагаю вам уникальные работы, превращая фотографии и готовые дизайны в искусно вышитые произведения. Также я восстанавливаю одежду, скрывая потертости и дырки, используя вышивку, что помогает вернуть вещам их первоначальный вид и стиль.</p>
        <p>Каждый проект я подбираю индивидуально, ориентируясь на ваши предпочтения и потребности. Я уверен, что вышивка — это не просто декоративный элемент, а способ выразить особую атмосферу и уникальность.</p>

    </section>
    <h1>Мои проекты</h1>
    <p>Здесь представлены работы, которые я создал для моих клиентов.</p>

    <!-- Блок с карточками для выбора услуги -->
    <section class="services">
        <h2>Что я предлагаю</h2>
        <p>Клиенты могут заказать уникальные проекты с вышивкой по фото или восстановление одежды.</p>

        <div class="service-cards">
            <!-- Карточка 1: Вышивка по фото -->
            {% for i in categories %}
            <div class="service-card" data-aos="fade-up" onclick="openModal('{{i.id}}')" data-aos-delay="100">
                <img src="{{i.img.url}}" alt="{{i.name}}">
                <h3>{{i.name}}</h3>
                <p>{{i.description}}</p>
            </div>
            {% endfor %}

            <!-- Карточка 2: Создание персональной вышивки -->
            <!--<div class="service-card" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'main/img/disign.jpg' %}" alt="main/img/service1.jpg">
                <h3>Создание персональной вышивки</h3>
                <p>Персонализированные вышивки под ваш стиль.</p>
            </div>-->

            <!-- Карточка 3: Восстановление одежды -->
            <!--<div class="service-card" data-aos="fade-up" data-aos-delay="300">
                <img src="{% static 'main/img/potertosti.jpg' %}" alt="Восстановление одежды">
                <h3>Восстановление одежды</h3>
                <p>Восстановление одежды с уникальными вышивками для покрытия дыр и потертостей.</p>
            </div>-->
        </div>
    </section>
</main>


{% endblock %}